.header {
  background-color: aquamarine;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav {
    width: 30%;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
      }
    }
  }
  button {
    margin: 0 5%;
  }
}
